
@{
    ViewBag.Title = "artithmeticoprator";
}

<h2>artithmeticoprator</h2>

<span>valueA  @ViewBag.valueA</span>
<br />
<span>valueB  @ViewBag.valueB </span>
<br />
<br />
<span>sum @(ViewBag.valueA + ViewBag.valueB)</span>
<br />
<span>sub @(ViewBag.valueA - ViewBag.valueB)</span>
<br />
<span>mul @(ViewBag.valueA * ViewBag.valueB)</span>
<br />
<span>div @(ViewBag.valueA / ViewBag.valueB)</span>
<br />
